.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.container.fullscreen {
  padding: 0;
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.inputSection {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.chartsContainer {
  display: flex;
  flex: 3;
  gap: 10px;
}

.rightInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 240px;
  border-radius: 12px !important;
  background: var(--white);
  box-shadow: 0 5px 10px rgba(100, 100, 111, 0.1) !important;
  padding: 1.5rem;
}

.rightHeader {
  display: flex;
  align-items: center;
  gap: 8px;
}

.monthInput {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
}

.refreshButton {
  padding: 4px 8px;
  background-color: #d6dfdf;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.fullScreenButton {
  padding: 4px 8px;
  background-color: #d6dfdf;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.gridTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ccc;
}

.gridTable th,
.gridTable td {
  padding: 6px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 12px;
}

.headquarterSection {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

.fieldSection {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.subSection {
  flex: 1;
  text-align: center;
}

.chart {
  height: 240px;
  width: 100%;
  border-radius: 12px !important;
  background: var(--white);
  box-shadow: 0 5px 10px rgba(100, 100, 111, 0.1) !important;
  padding: 1.5rem;
}

.container.fullscreen .chart {
  height: 25vh; /* 전체 화면에서 차트 높이 조정 */
}

.container.fullscreen .inputSection,
.container.fullscreen .headquarterSection,
.container.fullscreen .fieldSection {
  height: 33vh; /* 전체 화면에서 섹션 높이 균등 분배 */
}