.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.container.fullscreen {
  padding: 0;
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* .inputSection {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.chartsContainer {
  display: flex;
  flex: 3;
  gap: 10px;
} */



.monthInput {
  padding: 4px;
  border: 1px solid #d4d4d6;
  border-radius: 4px;
  font-size: 12px;
}

/* .refreshButton {
  padding: 4px 8px;
  background-color: #ffffff;
  border: 1px solid #d4d4d6;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  height: 30px;
} */

.fullScreenButton {
  padding: 4px 8px;
  background-color: #d6dfdf;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* .gridTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 0;
}

.gridTable th,
.gridTable td {
  padding: 6px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 12px;
} */

/* .headquarterSection {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

.fieldSection {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.subSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: center;
  width: 100%;
  height: 248px;
  border-radius: 12px !important;
  background: var(--white);
  box-shadow: 0 5px 10px rgba(100, 100, 111, 0.1) !important;
  padding: 1.25rem;
} */

/* .chart {
  height: 180px;
}

.container.fullscreen .chart {
  height: 25vh;
} */

.container.fullscreen .inputSection,
.container.fullscreen .headquarterSection,
.container.fullscreen .fieldSection {
  height: 33vh; /* 전체 화면에서 섹션 높이 균등 분배 */
}