.customModal {
  width: 640px; /* 원하는 너비 설정 */
  max-width: 90vw; /* 뷰포트 기준 최대 너비 제한 */
  margin: 0 auto;
}

.inputButtonWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin: 10px 0;
}
.readonly {
  background-color: #f8f9fa !important;
  cursor: pointer;
  color: #495057;
}

.readonly::placeholder {
  color: #6c757d;
  font-style: italic;
}