.customModal {
  width: 430px !important; /* 원하는 너비 설정 */
  max-width: 95vw !important; /* Responsive max-width */
  max-height: 95vh !important; /* Responsive max-width */
  margin: 0 auto;
}

.modalBody {  
  padding: var(--bs-modal-padding);
}

.formSelect {
  width: 100%;
  padding: 4px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #fff;
  max-width: 100%;
}

.formControl {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #fff;
  max-width: 100%;
}

.btn {
  padding: 6px 12px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-del {
  background-color: red;
  color: #fff;
}