/* .boardTitle {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contentContainer {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 6px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000;
} */