.tabulator {
    background-color: #fff;
    /* border: 1px solid #999; */
    font-size: 0.8125rem;
}

.tabulator .tabulator-header {
    background-color: #fff;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    color: #000;
}


/* .tabulator .tabulator-tableholder {
  border-bottom: 1px solid #999;
} */

.tabulator-row {
    border-bottom: 1px solid #ddd;
}

.tabulator-row .tabulator-cell {
    border-right: 1px solid #ddd;
}

.tabulator-cell {
    display: flex;
    align-items: center;
    gap: 4px;
    overflow: hidden;
    line-height: 30px;
}

.tabulator-cell div {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.tabulator-cell div span {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tabulator .tabulator-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: unset;
    background-color: #fff;
    color: #555;
    text-align: center;
    margin-top: 1rem;
}

.tabulator .tabulator-footer .tabulator-page {
    background: unset;
    border: unset;
    border-radius: 3px;
    display: inline-block;
    padding: 0;
    min-width: 24px;
    height: 24px;
    margin: 0 5px;
    border-radius: 50%;
    line-height: 1;
}

.tabulator .tabulator-footer .tabulator-page.active {
    color: #fff;
    background: #2CBBB7;
    border: 1px solid #2CBBB7;
}

button.tabulator-page {
    color: #000;
}

.tabulator .tabulator-header .tabulator-col {
    align-items: center;
    height: 100% !important;
    background-color: #fff;
}

.tabulator-row.tabulator-row-even {
    background-color: #f9f9f9;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
    display: flex;
    flex: 1;
    align-items: center;
}