/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap'); */


/* @font-face {
  font-family:kt; 
  font-weight:100; 
  font-style:normal; 
  src:url(./assets/fonts/KTfontThin.eot); 
  src:local("※"), url(./assets/fonts/KTfontThin.woff) format("woff"), 
      url(./assets/fonts/KTfontThin.ttf) format("TrueType");
}
@font-face {
  font-family:kt; 
  font-weight:200; 
  font-style:normal; 
  src:url(./assets/fonts/KTfontLight.eot); 
  src:local("※"), url(./assets/fonts/KTfontLight.woff) format("woff"), 
      url(./assets/fonts/KTfontLight.ttf) format("TrueType");
}
@font-face {
  font-family:kt; 
  font-weight:400; 
  font-style:normal; 
  src:url(./assets/fonts/KTfontMedium.eot);
  src:local("※"), url(./assets/fonts/KTfontMedium.woff) format("woff"), 
      url(./assets/fonts/KTfontMedium.ttf) format("TrueType");
}
@font-face {font-family:kt; 
  font-weight:800; 
  font-style:normal; 
  src:url(./assets/fonts/KTfontBold.eot); 
  src:local("※"), url(./assets/fonts/KTfontBold.woff) format("woff"), 
  url(./assets/fonts/KTfontBold.ttf) format("TrueType");
}
*/

/* PretendardVariable */
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('./assets/fonts/PretendardVariable.woff2') format('woff2-variations');
}

/* noto sans kr */
/* @font-face {
  font-family: 'Noto Sans KR';
  src: url('./assets/fonts/NotoSansKR-Thin.woff2') format('woff2'),
       url('./assets/fonts/NotoSansKR-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('./assets/fonts/NotoSansKR-Regular.woff2') format('woff2'),
       url('./assets/fonts/NotoSansKR-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('./assets/fonts/NotoSansKR-Medium.woff2') format('woff2'),
       url('./assets/fonts/NotoSansKR-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('./assets/fonts/NotoSansKR-Light.woff2') format('woff2'),
       url('./assets/fonts/NotoSansKR-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('./assets/fonts/NotoSansKR-DemiLight.woff2') format('woff2'),
       url('./assets/fonts/NotoSansKR-DemiLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('./assets/fonts/NotoSansKR-Bold.woff2') format('woff2'),
       url('./assets/fonts/NotoSansKR-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('./assets/fonts/NotoSansKR-Black.woff2') format('woff2'),
       url('./assets/fonts/NotoSansKR-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
} */

/* KT */
@font-face {
  font-family: 'KT';
  src: url('./assets/fonts/KTL.woff2') format('woff2'),
       url('./assets/fonts/KTL.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} 
@font-face {
  font-family: 'KT';
  src: url('./assets/fonts/KTB.woff2') format('woff2'),
       url('./assets/fonts/KTB.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Pretendard Variable", -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0 auto;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #006376;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

section,
article {
  margin-bottom: 6em;
}

table {
  margin-bottom: 3em;
}

section > :last-child,
section:last-child,
article > :last-child,
article:last-child {
  margin-bottom: 0;
}

footer {
  font-size: 14px !important;
  color: #6D6D6D !important ;
  background: transparent !important;
  padding: 0 !important;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  --bs-gutter-x: 0;
}

#root {
  width: 100vw;
  min-width: 1440px;
  min-height: 100vh;
}
input, select, textarea {
  font-size: 0.875rem;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #d4d4d6;
  line-height: 1.4;
}
input + button, select + button {
  margin-left: 4px;
}
/* input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #d4d4d6;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
}
input[type="radio"] {
  border-radius: 50%;
}
input[type="checkbox"] {
  border-radius: 4px;
}
input[type="checkbox"]:checked::before {
  content: "\f26e";
  font-family: "bootstrap-icons";
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type="checkbox"]:checked {
  background-color: var(--bs-primary-color);
  border-color: #d4d4d6;
}
input[type="radio"]:checked::before {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--bs-primary-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #ffffff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  padding-right: 1.75rem !important;
}

.MuiTypography-root {
  font-family: "Pretendard Variable", -apple-system, "Segoe UI", Roboto, Arial, sans-serif !important;
}

