/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap'); */


/* @font-face {
  font-family:kt; 
  font-weight:100; 
  font-style:normal; 
  src:url(./assets/fonts/KTfontThin.eot); 
  src:local("※"), url(./assets/fonts/KTfontThin.woff) format("woff"), 
      url(./assets/fonts/KTfontThin.ttf) format("TrueType");
}
@font-face {
  font-family:kt; 
  font-weight:200; 
  font-style:normal; 
  src:url(./assets/fonts/KTfontLight.eot); 
  src:local("※"), url(./assets/fonts/KTfontLight.woff) format("woff"), 
      url(./assets/fonts/KTfontLight.ttf) format("TrueType");
}
@font-face {
  font-family:kt; 
  font-weight:400; 
  font-style:normal; 
  src:url(./assets/fonts/KTfontMedium.eot);
  src:local("※"), url(./assets/fonts/KTfontMedium.woff) format("woff"), 
      url(./assets/fonts/KTfontMedium.ttf) format("TrueType");
}
@font-face {font-family:kt; 
  font-weight:800; 
  font-style:normal; 
  src:url(./assets/fonts/KTfontBold.eot); 
  src:local("※"), url(./assets/fonts/KTfontBold.woff) format("woff"), 
  url(./assets/fonts/KTfontBold.ttf) format("TrueType");
}
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('./assets/fonts/PretendardVariable.woff2') format('woff2-variations');
} */

/* KT Regular */
@font-face {
  font-family: 'KT';
  src: url('./assets/fonts/KTL.woff2') format('woff2'),
       url('./assets/fonts/KTL.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
 

/* KT Bold */
@font-face {
  font-family: 'KT';
  src: url('./assets/fonts/KTB.woff2') format('woff2'),
       url('./assets/fonts/KTB.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0 auto;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #006376;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

section,
article {
  margin-bottom: 6em;
}

table {
  margin-bottom: 3em;
}

section > :last-child,
section:last-child,
article > :last-child,
article:last-child {
  margin-bottom: 0;
}

footer {
  font-size: 14px !important;
  color: #6D6D6D !important ;
  background: transparent !important;
  padding: 0 !important;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  --bs-gutter-x: 0;
}

#root {
  width: 100vw;
  min-width: 1440px;
  min-height: 100vh;
}