.customModal {
  width: 800px !important;
  max-width: 90vw !important;
  margin: 0 auto;
}

.tableSection {
  height: 400px;
  overflow-y: auto;
  overflow-x: auto;
}

.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}

.modalBody {
  font-size: 14px;
  padding: 0 var(--bs-modal-padding);
}