.customModal {
  width: 80vw !important; /* 원하는 너비 설정 */
  max-width: 90vw !important; /* Responsive max-width */
  max-height: 95vh !important; /* Responsive max-width */
  margin: 0 auto;
}

.modalBody {
  font-size: 14px;
  padding: var(--bs-modal-padding);
}

.inputButtonWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin: 10px 0;
}